

<div class="jumbotron">
<h4>Welcome to our library management system! Our mission is to help libraries manage their collections more efficiently and provide students with a seamless borrowing experience.
<br></br>
Our team came together with the goal of creating a tool that would streamline the library management process. We understand that managing a library can be a complex and time-consuming task, and we believe that our system can help librarians save time and better serve students. In the future, we plan to expand our system to cover even more library functions, and to offer new tools and resources to help libraries better serve their communities. We're committed to making our system the best possible tool for library management.</h4>
<br></br>
 <%= link_to "Back", libraries_path,class:"btn btn-primary"%> 
</div>